<div *ngIf="datasource" fxLayoutAlign="begin center" fxLayout="column">
	<mat-card *ngIf="!isFilterEmpty()" class="filter-box" fxLayoutAlign="begin center"
	          ngStyle.gt-sm="width: 80%" ngStyle.lt-md="width: 100%">
		<mat-form-field class="filter" fxFlex="90%">
			<mat-chip-list #filterList>
				<div fxLayout="row" fxFlex>
					<mat-chip *ngFor="let filter of filters" class="filter-attributes" [selectable]="selectable"
					          [removable]="removable" (removed)="remove(filter)">
						{{filter}}
						<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
					</mat-chip>
					<input
						[matChipInputFor]="filterList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						[matChipInputAddOnBlur]="addOnBlur"
						(matChipInputTokenEnd)="add($event)">
				</div>
			</mat-chip-list>
		</mat-form-field>
		<div fxFlex fxLayout fxLayoutAlign="end center">
			<mat-button-toggle (click)="clear()">clear</mat-button-toggle>
		</div>
	</mat-card>

	<div fxLayout="column" style="width: 100%">
		<div *ngFor="let job of datasource" fxLayoutAlign="center center" style="width: 100%">
			<mat-card *ngIf="isFilter(job)" class="job" fxLayout="row"
			          ngStyle.gt-sm="width:80%" ngStyle.lt-md="width: 100%" style="height: 110px; box-shadow: 2px 3px 10px #b6d3d8;">

				<app-listing-details [job]="job"></app-listing-details>
					
				<div fxFlex fxLayout="row" fxLayoutAlign="end center" ngStyle.lt-md="margin-left: 5px">
					<mat-chip-list>		
						<mat-chip class="filter-attributes" *ngFor="let filter of getFilterAttributes(job)" (click)="addFilterAttr(filter)">{{filter}}</mat-chip>
					</mat-chip-list>
				</div>

			</mat-card>
		</div>
	</div>
</div>
