@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=League+Spartan');

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-size: 20px;
	font-family: "League Spartan", "Helvetica Neue", sans-serif;
	color: hsl(180, 29%, 50%);
	background-color: hsl(180, 52%, 96%);
}

.mat-chip {
	background-color: hsl(180, 31%, 95%);
}
